* {
    box-sizing: border-box;
  }
  
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  
  body {
    line-height: 1;
  }
  
  ol,
  ul {
    list-style: none;
  }
  
  blockquote,
  q {
    quotes: none;
  }
  
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: "";
    content: none;
  }
  
  
  
  /* --- My styles---*/
  
  .container{
    width: 1100px;
    margin: 0 auto;
  }

  table{
    width: 550px;
    height: 400px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 1px;
  }

  .header{
    background: #ececec;
      color: black;
      text-align: center;
      padding: 20px 0;
  }
  
  .header h1{
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin: 0 20px;
  padding: 20px;
  }
  
  .header a{
    color: black;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    margin: 20px 0 0;
  }

  table, th, td {
border: 1px solid black;
font-size: 24px;
  }

  td{
    width: 70px;
    height: 70px;
  }

   .container{
    color: black;
    margin: 25px auto;
   }

  .background-grey {
    background: grey;
  
  }

  .background-green{
    background: #008000;
  }
  .background-darkgreen{
    background: #084808;
  }
  .background-blue{
    background: #0000ff;
  }
  .background-lightgrey{
    background: #dcdcdc;
  }
  .background-gold{
    background: #ffd700;
  }
  .background-olive{
    background: #666600;
  }